$bg-color-dark: #080808;
$bg-color-dark-grey: #1B1B1B;

$color-green: #3F8E00;
$color-shadow-green: #62BA1B;

$color-yellow: #FFA217;
$color-shadow-yellow: #FFF6E9;

$color-blue: #000AFF;
$color-shadow-blue: #D0E6FF;

$color-salad: #2AB090;
$color-shadow-salad: #0FFF8F;

$color-text: #9C9C9C;
